Package: me.devbug.alwaysipodplay
Name: Always iPod Play
Depends: mobilesubstrate, firmware (>= 4.0)
Version: 0.1
Architecture: iphoneos-arm
Description: Do not stop iPod play when you start game.
Maintainer: deVbug <devbug@devbug.me>
Author: deVbug <devbug@devbug.me>
Section: Tweaks
Website: http://slak.kr/iphone/cydia/alwaysipodplay/index.php
Depiction: http://slak.kr/iphone/cydia/alwaysipodplay/index.php
