<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>RESPRING_REQUIRED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.deVbug.AlwaysiPodPlay</string>
			<key>key</key>
			<string>AlwaysiPodPlayEnable</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>me.devbug.alwaysipodplay.prefnoti</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<string>true</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>voip</key>
					<false/>
					<key>wildcat</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>RESPRING_REQUIRED</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>voip</key>
					<false/>
					<key>wildcat</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>RESPRING_REQUIRED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>AlwaysiPodPlayWhiteListController</string>
			<key>label</key>
			<string>WhiteList Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<string>true</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>voip</key>
					<false/>
					<key>wildcat</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>RESPRING_REQUIRED</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>voip</key>
					<false/>
					<key>wildcat</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>EnableType</string>
			<key>footerText</key>
			<string>NOMANNER_CAUTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.deVbug.AlwaysiPodPlay</string>
			<key>key</key>
			<string>AlwaysiPodPlayNoManner</string>
			<key>label</key>
			<string>NoMannerMode</string>
			<key>PostNotification</key>
			<string>me.devbug.alwaysipodplay.prefnoti</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<string>true</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>voip</key>
					<false/>
					<key>wildcat</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>NOMANNER_CAUTION</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>voip</key>
					<false/>
					<key>wildcat</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>AlwaysiPodPlayLicenseViewController</string>
			<key>label</key>
			<string>License</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>confirmation</key>
			<dict>
				<key>cancelTitle</key>
				<string>Not Now</string>
				<key>okTitle</key>
				<string>Yes</string>
				<key>title</key>
				<string>Yes!</string>
				<key>prompt</key>
				<string>DONATION_PROMPT</string>
			</dict>
			<key>icon</key>
			<string>icon-paypal.png</string>
			<key>label</key>
			<string>Donate</string>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Always iPod Play © 2011-2012 deVbug</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<string>true</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>voip</key>
					<false/>
					<key>wildcat</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Always iPod Play © 2011-2012 deVbug</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>voip</key>
					<false/>
					<key>wildcat</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>Always iPod Play</string>
</dict>
</plist>
